 <h3>Filter by instrument:</h3>
  <%= form_tag("/musicians", method: "get") do %>
    <%= select_tag "instrument", options_for_select(["vocals", "drums", "guitar", "bass"]), include_blank: "All" %>
    <%= submit_tag "Filter" %>
  <%end%>
</div>
<ul>
    <% @musicians.each do |m|%>
        <% if !full_band? && former_member(m) %>
            <li><%=m.name%> - <%=m.instrument%> - reputation: <%=m.reputation%></li>
        <% else %>
            <li><%= link_to m.name, musician_path(m)%> - <%=m.instrument%> - reputation: <%=m.reputation%></li>
        <%end%>
    <%end%>
</ul>