<h1><%= @musician.name %></h1>
<h2>Instrument: <%= @musician.instrument%></h2>
<h2>Current Band: <%= @musician.band.name if @musician.band %></h2>
<h3>Reputation: <%= @musician.reputation%></h3>
<h3>Total Shows Played: <%= @musician.total_shows%>
<h4>Genres: <%= @musician.past_genres%></h4>
<h4>Past Bands: <%= @musician.past_bands%></h4>

