<h1>Venues</h1>
<ul>
    <% @venues.each do |venue|%>
        <%if band_recently_played_here(venue)%>
            <li><%= venue.name %> - <%= venue.location %> - "<%= venue.description %>" - Fully Booked</li>
        <%else%>
            <li><%= link_to venue.name, venue_path(venue) %> - <%= venue.location %> - "<%= venue.description %>" - <%= link_to "Book a show at #{venue.name}.", new_venue_show_path(venue) %></li>
        <%end%>
    <% end %>
</ul>
