
<h1>Create New Band</h1>
<%= link_to "View available musicians", musicians_available_path %>
<br><br>
<%= render partial: "layouts/error", locals: {object: @band} %>

<%= form_for(@band) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <br>
    <%= render partial: 'musician_fields', locals: {f: f} %>
    <p><%= f.submit "Create band" %></p>
    
<% end %>