
<h1><%= @band.name %></h1>
<%= links_if_current_band(@band) %>
<br>
----------------------------------
<h2>Genre: <%= @band.genre %></h2> 
 <h2>location: <%=@band.location%></h2>
 <h3>Managed by <%= @band.user.username %></h3>
----------------------------------
<h3> Mood: <%= @band.mood %></h3>
<h3>Total shows played: <%= @band.shows.count %></h3>
<h3>Practices since last show: <%= @band.practice_count%></h3>
<h3>Reputation: <%= @band.reputation %></h3>
<h4>Current Members:</h4>
<ul>
    <% @band.musicians.each do |m| %>
        <li><%=link_to m.name, musician_path(m) %> - <%= m.instrument%> - reputation: <%= m.reputation%> -  fatigue level: <%= m.fatigue_level %></li>
    <% end %>
</ul>

