
<h1><%= @band.name %></h1>
<% if @instrument %>
<%= link_to "Choose existing #{@instrument} player", musicians_available_path%> | 
<%= link_to "Create new #{@instrument} player", new_musician_path %>
<%else%>
<%= link_to 'Practice', band_practice_path(@band), method: 'post' %>
<%= link_to 'Book a show', venues_path %>
<%= link_to 'Disband', band_path(@band), method: 'delete'%>
<% end %>
<br>
----------------------------------
<h2>Genre: <%= @band.genre %></h2> 
 <h2>location: <%=@band.location%></h2>
 <h3>Managed by <%= @band.user.username %></h3>
----------------------------------
<h3> Mood: <%= @band.mood %></h3>
<h3>Total shows played: <%= @band.shows.count %></h3>
<h3>Practices since last show: <%= @band.practice_count%></h3>
<h3>Reputation: <%= @band.reputation %></h3>
<h4>Current Members:</h4>
<ul>
    <% @band.musicians.each do |m| %>
        <li><%=link_to m.name, musician_path(m) %> - <%= m.instrument%> - reputation: <%= m.reputation%> -  fatigue level: <%= m.fatigue_level %></li>
    <% end %>
</ul>

